<% layout('layouts/boilerplate') %> 
<!-- 위 경로의 ejs파일을 불러오기 -->
<form action="/campgrounds/<%= editcampground._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="campground[title]" value="<%= editcampground.title %>">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="campground[location]" value="<%= editcampground.location %>">
  </div>
  <button>Save</button>
</form>
<a href="/campgrounds/<%= editcampground._id %> ">Cancel</a>
