<% layout('layouts/boilerplate') %> 
<!-- 위 경로의 ejs파일을 불러오기 -->

<h1 class="text-center">New Campground</h1>
<div class="d-flex justify-content-center align-items-center">

  <div class="card shadow" style="width: 30rem;">

    <div class="row" style="padding: 10px">

      <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-4">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="campground[title]" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="campground[location]" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="input-group mb-4">
          <label class="form-label" for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price">₩</span>
            <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0" aria-label="price" aria-describedby="price-label" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-4">
          <label for="image" class="form-label">Images</label>
          <input class="form-control" type="file" id="image" name="image" multiple>
        </div>
        <div class="mb-4">
          <button class="btn btn-success form-control">Add Campground</button>
        </div>
        <a class="form-control btn btn-danger" href="/campgrounds">Cancel</a>
      </form>

    </div>

  </div>
</div>