<% layout('layouts/boilerplate') %> 
<!-- 위 경로의 ejs파일을 불러오기 -->
<h1><%= a_campground.title  %> </h1>
<h2><%= a_campground.location  %> </h2>
<p><a href="/campgrounds/<%= a_campground._id %>/edit ">Edit</a></p>
<p>
  <form action="/campgrounds/<%= a_campground._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</p>
<footer>
  <a href="/campgrounds">Back to list</a>
</footer>
